
@{
    Layout = "~/Views/Shared/_CalculatorResult.cshtml";
}
@model SSGeek.Models.AlienWeightModel

<body>

    <b class="left txt"> If you are @Model.Weight on planet Earth, you would weigh @Model.PlanetWeight lbs on @Model.Planet</b>

</body>
