@{
    Layout = "~/Views/Shared/_CalculatorResult.cshtml";
}
@model SSGeek.Models.AlienTravelModel

<body>

    <b class="left txt">Traveling by @Model.Vehicle you will reach @Model.Planet in @Model.TravelTimeYears. You will be @Model.AgeArrival </b>

</body>
