
@{
    Layout = "~/Views/Shared/_CalculatorResult.cshtml";
}
@model SSGeek.Models.AlienAgeModel

<body>

    <b class="left txt"> If you are @Model.Age on planet Earth, you would be @Model.PlanetAge years old on @Model.Planet</b>

</body>
